<div *ngIf="showToolbar">
  <!-- <p-toolbar class="custom-toolbar">
    <div class="p-toolbar-group-start">
    </div>
    <div class="p-toolbar-group-end">
      <p-sidebar [(visible)]="sidebarVisible" position="right">
          <ng-template pTemplate="content">
            <div class="sidebar-buttons">
              <button routerLink="/home"><i class="fa-solid fa-house subTypes"></i>Subscription Types</button>
              <button pButton label="Profile" icon="pi pi-user" routerLink="/home" class="custom-button"></button>
              <button pButton label="Settings" icon="pi pi-cog" routerLink="/login"></button>
            </div>
          </ng-template>
              </p-sidebar>

      <button class="bars" (click)="sidebarVisible = true"><i class="fa-solid fa-bars"></i></button>
      <button class="logout" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i></button>

    </div>
  </p-toolbar> -->


    <p-toolbar 
        styleClass="bg-gray-900 shadow-2" 
        [style]="{ 'border-radius': '3rem', 'background-image': 'linear-gradient(to right, var(--bluegray-500), var(--bluegray-800))' }">
        <ng-template pTemplate="start">
          <p-sidebar [(visible)]="sidebarVisible" position="left" class="custom-sidebar">
            <ng-template pTemplate="content">
                <div class="sidebar-buttons">
                    <button (click)="hideSidebar()" routerLink="/home" class="sidebar-button"><i class="fa-solid fa-house subTypes"></i>Subscription Types</button>
                    <button (click)="hideSidebar()" routerLink="/units" class="sidebar-button"><i class="fa-solid fa-house subTypes"></i>Units</button>
                    <button (click)="hideSidebar()" routerLink="/home" class="sidebar-button"><i class="fa-solid fa-house subTypes"></i>Subscription Types</button>

                </div>
            </ng-template>
        </p-sidebar>
        <button class="bars" (click)="sidebarVisible = true"><i class="fa-solid fa-bars"></i></button>
        </ng-template>
        <ng-template pTemplate="center">
            <div class="flex flex-wrap align-items-center gap-3">
                <!-- <h1 style="color: white;">Hi</h1> -->
            </div>
        </ng-template>
        <ng-template pTemplate="end">
          <button class="logout" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i></button>
        </ng-template>
    </p-toolbar>
</div>

 

<router-outlet></router-outlet>